---
layout: default
---

<div class="posts">
  {% for post in site.posts reversed %}

    {% if post.is_section_header %}

      <div class="section-header">
        <div class="title-subtitle">
          <h1><a href="{{ site.baseurl }}{{ post.url }}" class="no-decor-link">{{ post.title }}</a></h1>
          <p class="subtitle">{{ post.start | date: "%B %-d, %Y" }} to {{ post.end | date: "%B %-d, %Y" }}</p>
        </div>
        {{ post.content }}
      </div>

    {% else %}

      <article class="post">
        <div class="title-subtitle">
          <h2><a href="{{ site.baseurl }}{{ post.url }}" class="no-decor-link">{{ post.title }}</a></h2>
          <p class="subtitle">{{ post.date | date: "%B %-d, %Y" }}</p>
        </div>

        <div class="entry">
          <!-- {{ post.excerpt }} -->
          {{ post.content | truncatewords: 35 }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>

    {% endif %}

  {% endfor %}
</div>
