
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #ddd;
$white: rgb(245, 245, 245);


@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

// Font stacks
$font-headers: 'Libre Caslon Text', serif;
$font-body: 'Merriweather', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
